@CHARSET "ISO-8859-1";

body {
	background-repeat: repeat;
}

.header {
	text-align: center;
}

.header .title {
	font-family: 'Droid Serif', serif;
	font-size: 40px;
	display: inline;
	text-align: center;
	color: rgba(255, 255, 0, 1);
	text-shadow: 6px 6px 6px black;
}

.header img {
	border: 5px solid rgba(0, 0, 0, 1);
	float: left;
	width: 120px;
	height: 120px;
	float: left;
}

.header .login {
	float: right;
}

.header .login a {
	text-decoration: none;
	color: rgba(255, 255, 0, 1);
}

.clearspace {
	clear: both;
}

.menu {
	background: black;
}

.menu ul {
	text-align: center;
}

.menu a {
	text-decoration: none;
	color: orange;
}

.menu li {
	font-size: 25px;
	color: orange;
	padding: 15px;
	display: inline;
}

.menu a:hover {
	color: white;
}

.courselist {
	float: left;
	border: 5px solid rgba(255, 0, 255, .7);
	width: 15%;
}

.courselist ul {
	list-style-type: none;
	padding: 15px 40px 45px 40px;
}

.courselist li {
	padding: 6px;
	font-family: 'Droid Serif', serif;
	font-size: 30px;
	color: #ecec00;
}

.QPalette {
	float: right;
	border: 5px solid rgba(255, 0, 255, .7);
	width: 80%;
}

.sePanel {
	text-align: left;
}

.Question { 
	//list-style-type: none;
	padding: 0px 40px 25px 80px;
	font-family: 'Droid Serif', serif;
	font-size: 30px;
	color: #800040; //
	text-shadow: 6px 6px 6px black;
}
.option { 
	//list-style-type: none;
	padding: 0px 40px 85px 350px;
	font-family: 'Droid Serif', serif;
	font-size: 30px;
	color: #800040; //
	text-shadow: 6px 6px 6px black;
}
.hint {
	text-align: center;
}

.hint .title {
	font-family: 'Droid Serif', serif;
	font-size: 40px;
	display: inline;
	//text-align: center;
	color: rgba(255, 255, 0, 1);
	text-shadow: 6px 6px 6px black;
	padding:230px 40px 285px 80px;
}
.hint .login {
	float: right;
}